/* ENTIRE WEB STYLES */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: pink;
  height: 100vh;
}

/* NAVIGATION */
a {
  color: white;
  border-bottom: solid;
  border-color: pink;
  text-decoration: none;
}

/* HEADER */
header {
  color: white;
  background-color: rgb(211, 135, 148);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 20px;
}

.h1border {
  background-color: pink;
  border: 4px;
  border-style: solid;
  border-color: pink;
  color: rgb(211, 135, 148);
  padding: 4px;
}

header h1 {
  display: inline-block;
  font-size: 30px;
}

header nav {
  float: right;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-right: 20px;
  padding-top: 15px;
  text-align: center;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* IMAGES */
.placeholderimg {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/placeholder-images-image_large.png");
  background-size: cover;
  background-position: center;
}

/* ASIDE BORDER*/
.aside-border {
  border-right: 10px;
  border-right-style: solid;
  border-color: white;
  color: white;
  padding: 4px;
  position: absolute;
}

/* ASIDE TEXT */
.aboutme-aside-text {
  text-align: right;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  float: left;
  height: 100%;
  margin-right: 20px;
  margin-left: 40px;
  padding: 30px;
  width: 15%;
}

.work-aside-text {
  text-align: right;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  float: left;
  height: 100%;
  margin-right: 20px;
  margin-left: 40px;
  padding: 30px;
  width: 15%;
  font-size: 25px;
}

.contactme-aside-text {
  text-align: right;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  float: left;
  height: 100%;
  margin-right: 20px;
  margin-left: 40px;
  padding: 30px;
  width: 15%;
  font-size: 22px;
}

.resume-aside-text {
  text-align: right;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  float: left;
  height: 100%;
  margin-right: 20px;
  margin-left: 40px;
  padding: 30px;
  width: 15%;
  font-size: 25px;
}

/* SUMMARIES */
.aboutme-summary {
  padding-top: 30px;
  height: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  text-align: justify;
  inline-size: 1500px;
  margin-left: 350px;
}

.work-summary {
  padding-top: 100px;
  height: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  text-align: justify;
  inline-size: 1500px;
  margin-left: 350px;
}

.contactme-summary {
  padding-top: 100px;
  height: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  text-align: justify;
  inline-size: 1500px;
  margin-left: 350px;
}

.resume-summary {
  padding-top: 100px;
  height: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  text-align: justify;
  inline-size: 1500px;
  margin-left: 350px;
}

/* FOOTER */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
