/* ENTIRE WEB STYLES */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: pink;
  height: 100vh;
}

/* NAVIGATION */
a {
  color: white;
  border-bottom: solid;
  border-color: white;
  text-decoration: none;
}

/* HEADER */
header {
  color: white;
  background-color: rgb(211, 135, 148);
  padding: 20px;
}

.h1border {
  background-color: pink;
  border: 4px;
  border-style: solid;
  border-color: pink;
  color: rgb(211, 135, 148);
  padding: 4px;
}

header h1 {
  display: inline-block;
  font-size: 30px;
}

header nav {
  float: right;
  font-size: 20px;
  margin-right: 20px;
  padding-top: 15px;
  text-align: center;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* IMAGES */
.placeholderimg {
  background-image: url("../images/maya.jpg");
  background-size: contain;
  background-position: center;
  height: 800px;
  margin-bottom: 40px;
  width: 100%;
}

/* ASIDE BORDER*/
.aside-border {
  border-right: 10px;
  border-right-style: solid;
  border-color: white;
  color: white;
  padding: 4px;
  position: absolute;
}

/* ASIDE TEXT */
.aboutme-aside-text {
  color: white;
  float: left;
  height: 100%;
  margin-right: 20px;
  margin-left: 40px;
  padding: 30px;
  text-align: right;
  width: 15%;
}

.work-aside-text {
  color: white;
  float: left;
  font-size: 25px;
  height: 100%;
  margin-right: 20px;
  margin-left: 40px;
  margin-top: 60px;
  padding: 30px;
  width: 15%;
  text-align: right;
}

.contactme-aside-text {
  color: white;
  float: left;
  font-size: 22px;
  height: 100%;
  margin-right: 20px;
  margin-left: 40px;
  margin-top: 60px;
  padding: 30px;
  text-align: right;
  width: 15%;
}

/* SUMMARY TEXT */
.aboutme-summary {
  color: #ffffff;
  height: 20px;
  inline-size: 1500px;
  margin-left: 350px;
  padding-top: 30px;
  text-align: justify;
}

/* PROJECT CLICKABLES */
.square1 {
  color: white;
  border-style: solid;
  border-color: white;
  background-color: rgb(211, 135, 148);
  float: right;
  height: 0;
  margin-top: 150px;
  margin-right: 200px;
  padding-top: 110px;
  text-align: center;
  width: 300px;
}

.square2 {
  color: white;
  background-color: rgb(211, 135, 148);
  border-style: solid;
  border-color: white;
  float: left;
  height: 0;
  margin-left: 300px;
  margin-top: 150px;
  padding-top: 110px;
  text-align: center;
  width: 1000px;
}

/* CONTACT ME */
section nav ul {
  color: #ffffff;
  height: 20px;
  inline-size: 1500px;
  list-style-type: none;
  margin-left: 320px;
  padding-top: 350px;
  text-align: justify;
}
section nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* FOOTER */
footer {
  clear: both;
  color: rgb(211, 135, 148);
  margin-top: 100px;
  padding: 100px;
  text-align: center;
}
